@page "/instructors"

@using SchoolManagerSystem.Models;
@using SchoolManagerSystem.Data;
@using SchoolManagerSystem.Services;
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager navManager;
@inject InstructorsService InstructorsService;

<div>
    <a href="instructorsadd" class="btn btn-primary active mb-3 text-center" role="button" data-bs-toggle="button" aria-pressed="true">
        <i class="fas fa-plus"> Adicionar</i>
    </a>
</div>
<div class="container-fluid">
    <div class="row col-md-12 d-md-inline-flex">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                @if (instructor is not null)
                {
                    foreach(var item in instructor)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>
                                <button title="Editar" class="btn btn-secondary text-light" @onclick="(() => showInstructor(item.Id))">
                                    <i class="fas fa-pencil"></i>
                                </button>
                                <i class="fas fa-pencil "></i>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code{
    public string Name = "";
    public string Email = "";
    public int HourlyCost = 0;
    public string Certications = "";

    List<Instructor>? instructor { get; set;}


    protected override async Task OnInitializedAsync()
    {
        instructor = await InstructorsService.GetInstructorsAsync(DbFactory);
    }

    public void showInstructor(Guid id)
    {
        navManager.NavigateTo($"instructorsadd/{id}");
    }
}