@page "/instructors"

@using SchoolManagerSystem.Models;
@using SchoolManagerSystem.Data;
@using SchoolManagerSystem.Services;
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager navManager;
@inject InstructorsService InstructorsService;

<div>
    <a href="instructorsadd" class="btn btn-primary active mb-3 text-center" role="button" data-bs-toggle="button" aria-pressed="true">
        <i class="fas fa-plus"> Adicionar</i>
    </a>
</div>
<div class="container-fluid">
    <div class="row col-md-12 d-md-inline-flex">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>
                        <div class="divBotoes">
                            Opções
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (instructor is not null)
                {
                    foreach(var item in instructor)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>
                                <div class="divBotoes">
                                    <a title="Editar" class="btn btn-secondary text-center" role="button" data-bs-toggle="button" aria-pressed="true" @onclick="(() => showInstructor(item.Id))">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a title="Excluir" class="btn btn-danger text-center" role="button" data-bs-toggle="button" aria-pressed="true" @onclick="(() => deleteInstructor(item.Id))">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code{
    
    List<Instructor>? instructor { get; set;}

    protected override async Task OnInitializedAsync()
    {
        instructor = await InstructorsService.GetInstructorsAsync(DbFactory);
    }

    public void showInstructor(Guid id)
    {
        navManager.NavigateTo($"instructorsadd/{id}");
    }
    public async Task deleteInstructor(Guid id)
    {
        await InstructorsService.DeleteInstructorAsync(DbFactory, id);
        navManager.NavigateTo($"instructors", true);
    }
}