@page "/Login"
@model LoginModel
@using SchoolManagerSystem.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

<div class="card bg-info">
    <form method="post" asp-page="Login">
        <h4 class="loginTitle">Login</h4>
        <div class="card-body mt-0">
            @{
                if(!string.IsNullOrEmpty(Model.ErrorText))
                {
                    <div class="alert alert-danger" role="alert">
                        @Model.ErrorText
                    </div>
                }
                else{
                    <div class="bg-info" role="alert">
                        @Model.ErrorText
                    </div>
                }
            }
            <input class="form-control mb-1" placeholder="Usuário" asp-for="@Model.Username"/>
            <input class="form-control" placeholder="Senha" type="password" asp-for="@Model.Password"/>
        </div>
        <div class="loginButton">
            <button class="btn btn-primary" type="submit">Entrar</button>
        </div>
    </form>
</div>
