<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScholarManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScholarManagementSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="card">
        <form method="post">
            <h4 class="card-title">Login</h4>
            <div class="card-body">
                <input class="form-control" name="login" placeholder="Usuário"/>
                <input class="form-control" name="senha" placeholder="Senha" type="password" />
            </div>
            <div class="loginButton">
                <button class="btn btn-primary" type="submit">Entrar</button>
            </div>
        </form>
    </div>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ScholarManagementSystem - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

</html>